# generate command: clang-format -style="{BasedOnStyle: Google, AlignConsecutiveAssignments: true, AllowShortIfStatementsOnASingleLine: false, AllowShortLoopsOnASingleLine: false}" -dump-config >  .clang-format
---
BasedOnStyle: Google
AlignConsecutiveAssignments: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
#AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
KeepEmptyLinesAtTheStartOfBlocks: true
...

